# Local Terraform directories
.terraform/
.terraform.lock.hcl

# Terraform plan files
*.tfplan

# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform variable files
terraform.tfvars

# Crash log files
crash.log

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
.terraform.tfstate.lock.info
